<% @page = 'Profile' %>
<div class="column is-two-fifths">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :name, :class => 'label' %><br />
    <%= f.text_field :name,:class => 'input boxes'%>
  </div>
  <div class="field">
    <%= f.label :email, :class => 'label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => 'input boxes' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, :class => 'label' %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'input boxes' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'label' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" , :class => 'input boxes'%>
  </div>

  <div class="field">
    <%= f.label :current_password, :class => 'label'%> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'input boxes' %>
  </div>

  <div class="actions">
    <%= f.submit "Update" , class:('button')%>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, class:('button'), method: :delete %></p>
  </div>
<% end %>



<%= link_to "Back", :back %>
</div>