<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class='formItem'><%= @user.name%></td>
        <td class='formItem'><%= @user.email %></td>
        <td class='formItem'><%= 'Password saved' %></td>
      </tr>
  </tbody>
</table>

<%= link_to '<button class="button">Edit<i class="fa fa-edit mainbutton"></i></button>'.html_safe, edit_user_path(@user)%> |
<%= link_to '<button class="button">Back<i class="fa fa-backward mainbutton"></i></button>'.html_safe, users_path %>
