Edit <%= link_to current_user.name, edit_user_registration_url%>'s profile
<% @posts.reverse.each do |post| %>
  <p><%= post.message %> <br> <%= time_ago_in_words(post.created_at) + ' ago'%></p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
<br>
<%= link_to "Sign out", destroy_user_session_url, method: :delete %>
